@page
@model DigitalAccOpening.Pages.Practice.Index1Model
@{
}
<form method="post">
    <div class="row mb-3">
        <div class="col-sm-9 text-right">
            <button type="submit" class="custom-button">Next</button>
        </div>
    </div>
</form>