@page
@model DigitalAccOpening.Pages.Customer.MotherNameInfoModel
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Residency Confirmation</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Common2css.css" />

</head>
<body>
    <a href="#" class="go-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H2.707l3.647 3.646a.5.5 0 0 1-.708.708l-4.5-4.5a.5.5 0 0 1 0-.708l4.5-4.5a.5.5 0 1 1 .708.708L2.707 7.5H14.5A.5.5 0 0 1 15 8z" />
        </svg>
        Go Back
    </a>
    <div>
        <div class="container">
            <div class="card-icon">
                <div class="card">
                    <div class="chip"></div>
                    <div class="lines"></div>
                </div>
            </div>
            <h1 class="main-heading">Enter your Mother Name </h1>
            <form method="post">
            <input type="text" class="form-control" placeholder="Mother Name" name="MotherName" >
            
                <button class="btn-continue">Continue</button>
            </form>
        </div>
</body>
</html>