@page
@model DigitalAccOpening.Pages.Customer.PurposeOfAccount_HomeRemittanceDetailsPageModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Residency Confirmation</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Common2css.css" />
    <link rel="stylesheet" href="/css/Radiobuttonslist.css" />

</head>
<body>
    <a href="#" class="go-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H2.707l3.647 3.646a.5.5 0 0 1-.708.708l-4.5-4.5a.5.5 0 0 1 0-.708l4.5-4.5a.5.5 0 1 1 .708.708L2.707 7.5H14.5A.5.5 0 0 1 15 8z" />
        </svg>
        Go Back
    </a>
    <div>
        <div class="container">
            <div class="card-icon">
                <div class="card">
                    <div class="chip"></div>
                    <div class="lines"></div>
                </div>
            </div>
            <h1 class="main-heading">Provide remitter details</h1>
            <h4>Please provide the remitter name and relationship.</h4>
            <form method="post">
                <div id="remitterdetails" class="dropdown-check-list">
                    <span class="anchor">Funds Provider</span>
                    <ul class="items">
                        <li><label><input type="radio" name="fundprovider" value="Father">Father</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Mother">Mother</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Husband">Husband</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Wife">Wife</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Son">Son</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Daughter">Daughter</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Brother">Brother</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Sister">Sister</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Uncle">Uncle</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Aunt">Aunt</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Son-in-Law">Son-in-Law</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Daughter-in-Law">Daughter-in-Law</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Grandson">Grandson</label></li>
                        <li><label><input type="radio" name="fundprovider" value="GrandDaughter">Grand Daughter</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Cousin">Cousin</label></li>
                        <li><label><input type="radio" name="fundprovider" value="FamilyRelative">Family Relative</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Friend">Friend</label></li>
                        <li><label><input type="radio" name="fundprovider" value="Other">Other</label></li>




                    </ul>
                </div>

                <input type="text" class="form-control" placeholder="Fund Provider Name" name="fundprovidername">


                <button class="btn-continue">Continue</button>
            </form>
        </div>
        <script>
            document.querySelector('.dropdown-check-list .anchor').addEventListener('click', function () {
                this.parentElement.classList.toggle('visible');
            });

            document.querySelectorAll('.dropdown-check-list .items li input[type="radio"]').forEach(function (radio) {
                radio.addEventListener('change', function () {
                    var selectedCountry = this.parentElement.textContent.trim();
                    document.querySelector('.dropdown-check-list .anchor').textContent = selectedCountry;
                    document.querySelector('.dropdown-check-list').classList.remove('visible');
                });
            });
        </script>
</body>
</html>


